RewriteEngine On

DirectoryIndex index.html

# Remove index.html de qualquer endereço
# /index.html → /
# /servicos/index.html → /servicos/
# /materiais/index.html → /materiais/
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html(?:[\s?]) [NC]
RewriteRule ^(.*/)?index\.html$ https://zavatiestamparia.com/$1 [R=301,L,NE]

# Força HTTPS e remove www
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.zavatiestamparia\.com$ [NC]
RewriteRule ^ https://zavatiestamparia.com%{REQUEST_URI} [R=301,L,NE]